<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="co.sf.qna.mapper.QnaMapper">

	<select id="qnaList" resultType ="co.sf.qna.vo.QnaVO">
		select qna_code, qna_category, qna_subject, id, qna_date, click_cnt
		from   qna_f5
        order by qna_code
	</select>
	
	<insert id="insertQna" parameterType="co.sf.qna.vo.QnaVO">
		insert into qna_f5(qna_subject, id, product_code, order_code, qna_pw, qna_content)
		values(#{qnaSubject},#{id},#{productCode},#{orderCode},#{qnaPw},#{qnaContent})
	</insert>
	
	<select id="selectQna" parameterType = "string">
		select count(1)
		from   qna_f5
		where  qna_subject = #{qnaSubject}
	</select>
	
	<delete id="deleteQna" parameterType = "string">
		delete qna_f5
		where  qna_subject = #{qnaSubject}
	</delete>
	
	<update id="updateQna" parameterType = "co.sf.qna.vo.QnaVO">
		update qna_f5
		set    qna_subject = #{qnaSubject},
		       qna_content = #{qnaContent}
		where  qna_code = #{qnaCode}
	</update>
	
</mapper>