<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="co.sf.user.mapper.UserMapper">
	<!-- [회원조회] select * from users_f5 where id = 'yujinjann' and pw = '9715'; -->
	<!-- [회원조회] -->

	<select id="checkUser" resultType="co.sf.user.vo.UserVO">
		select *
		from users_f5
		where id = #{id}
		and pw = #{pw}
	</select>
	
	
	<insert id="addMember" parameterType="co.sf.user.vo.UserVO">
		insert into users_f5 (id, pw, name, email, phone)
		values (#{id}, #{pw}, #{name}, #{email}, #{phone})
	</insert>
	
	
	<select id="checkIdAjax" parameterType="String">
		select count(1)
		from users_f5
		where id=#{id}
	</select>
	
	
	
</mapper>