@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.findPwTemporary-wrapper {
	width: 400px;
	height: auto;
	padding: 40px;
	box-sizing: border-box;
	margin: 0 auto;
	margin-bottom: 20px;
}

.findPwTemporary-wrapper > h2 {
	font-size: 30px;
	color: #7971ea;
	font-weight: bold;
}
.findPwTemporary-wrapper > h3 {
	font-size: 18px;
	color: #7971ea;
	margin-bottom: 20px;
	font-weight: bold;
}

label {
	font-size : 18px;
	font-weight: bold;
}
#submitBtn{
	width: 100%;
	height: 48px;
	padding: 0 10px;
	box-sizing: border-box;
	margin-bottom: 16px;
	border-radius: 6px;
	background-color: #7971ea;
	border: #ccc;
	color: #fff;
	margin-top : 16px;
}
#cancle{
	width: 100%;
	height: 48px;
	padding: 0 10px;
	box-sizing: border-box;
	margin-bottom: 16px;
	border-radius: 6px;
	background-color: black;
	border: #ccc;
	color: #fff;
}




.findPwResult-wrapper {
	width: 600px;
	height: auto;
	padding: 40px;
	box-sizing: border-box;
	margin: 0 auto;
	margin-bottom: 20px;
}

.findPwResult-wrapper > h2 {
	font-size: 30px;
	color: #7971ea;
	font-weight: bold;
}
p {
	font-size: 15px;
	color: #7971ea;
	margin-bottom: 20px;
	font-weight: bold;
}

.goodShopping{
	font-size: 14px;
	color: #7971ea;
	margin-bottom: 20px;
	font-weight: bold;
	margin-top : 12px;
}


button{
	width: 100%;
	height: 48px;
	padding: 0 10px;
	box-sizing: border-box;
	margin-bottom: 16px;
	border-radius: 6px;
	background-color: #7971ea;
	border: #ccc;
	color: #fff;
	margin-top : 16px;
}
