<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sf.cart.mapper.CartMapper">
	<!-- order page -->
	<select id="cartList" parameterType="string">
		select c.cart_code, c.product_code, p.product_name, p.thum_image, p.price, u.point
		from   cart_f5 c join product_f5 p
			             on c.product_code = p.product_code
		                 join users_f5 u
		                 on c.id = u.id
		where c.id = #{id}
	</select>
	
</mapper>