<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sf.cart.mapper.CartMapper">
	<select id="cartList" parameterType="string" resultType="co.sf.cart.vo.CartVO">
		select c.cart_code, c.product_code, p.product_name,
		       p.thum_image, p.price, c.product_cnt, u.point
		from cart_f5 c
		join product_f5 p
		on c.product_code = p.product_code
		join users_f5 u
		on c.id = u.id
	</select>
	<!-- order page -->
	<select id="cartList" parameterType="string">
		select c.cart_code, c.product_code, p.product_name, p.thum_image, p.price, u.point
		from   cart_f5 c join product_f5 p
			             on c.product_code = p.product_code
		                 join users_f5 u
		                 on c.id = u.id
		where c.id = #{id}
	</select>
	
	
	<!-- 카트 상품 수량 계산 -->
	<select id= "selPrdCart" parameterType = "co.sf.cart.vo.CartVO">
 		select product_cnt
 		from   cart_f5
 		where  product_code = #{productCode}
 		and    id = #{id}	
	</select>
	
	<!-- 상품 카트 추가 -->
	<insert id="insPrdCart" parameterType = "co.sf.cart.vo.CartVO">
 		insert into cart_f5(cart_code, product_code, product_cnt, id)
		values(CART_SEQ.nextval, #{productCode}, #{productCnt}, #{id})
	</insert>
	
	<!-- 상품 카트 변경 -->
	<update id="upPrdCart" parameterType = "co.sf.cart.vo.CartVO">
		update cart_f5
		set    product_cnt = #{productCnt}
 		where  product_code = #{productCode}
 		and    id = #{id}	
	</update>
	
</mapper>