<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="co.sf.heart.mapper.HeartMapper">
 
 	<!-- 찜 목록 조회 쿼리 -->
 	<select id="heartList" resultType="co.sf.product.vo.ProductVO" parameterType="string">
	 	select p.thum_image,
	           replace(p.product_name, 'unisex') product_name,
	           p.price,
	           case p.product_size when 'S' then 'SMALL'
                           		   when 'M' then 'MIDDLE'
                                   when 'L' then 'LARGE'
               end as product_size,
	           p.color,
	           h.product_code
	    from   product_f5 p join heart_f5 h
	                        on p.product_code = h.product_code
	    where  id = #{userId}
 	</select>
 	
 	<!-- 찜 삭제 -->
 	<delete id="deleteHeart" parameterType="co.sf.product.vo.ProductVO">
 		delete
 		from   heart_f5
 		where  product_code = #{productCode}
 	</delete> 	
 	
	<!-- heart page  -->
	<insert id="insertCart" parameterType="co.sf.cart.vo.CartVO">
		insert into cart_f5
		values (cart_seq.nextval, #{productCode}, 1, #{id})
	</insert>

 	<!-- cart 중복 체크 -->
	<select id="selectProduct" parameterType="co.sf.heart.vo.HeartVO">
		select count(1)
		from cart_f5
		where product_code = #{productCode}
		and    id = #{id}
	</select>
  
  
 
 	<!-- 상품 상세페이지에서 찜 확인 -->
 	<select id="selPrdHeart" parameterType = "co.sf.heart.vo.HeartVO">
 		select count(*) CNT
 		from   heart_f5
 		where  product_code = #{productCode}
 		and    id = #{id}
 	</select>
 
 	<!-- 상품 상세페이지에서 찜 추가 -->
 	<insert id="productToHeart" parameterType="co.sf.heart.vo.HeartVO">
 		insert into heart_f5(product_code, id)
		values(#{productCode}, #{id})
 	</insert>
 	
 	 <!-- 상품 상세페이지에서 찜 삭제 -->
 	<delete id="delPrdHeart" parameterType="co.sf.heart.vo.HeartVO">
 		delete
 		from   heart_f5
 		where  product_code = #{productCode}
 		and    id = #{id}
 	</delete>
 	
 </mapper>
