<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sf.order.mapper.OrderMapper">

    <!-- 기존 배송지 목록 -->
    <select id="userInfo" parameterType="co.sf.user.vo.UserVO">
        SELECT id, phone, address, email
        FROM users_f5 
        WHERE id = #{id} 
    </select>
    
    <!-- 주문 정보 추가 -->
    <insert id="addAddress" parameterType="co.sf.order.vo.OrderVO">
        INSERT INTO order_f5 (order_code, id, recipient, phone, address, total_price, email)
        VALUES (#{orderCode}, #{id}, #{recipient}, #{phone}, #{address}, #{totalPrice}, #{email})
    </insert>

    <!-- 주문 상세 목록 조회 -->
    <select id="orderDetailList" parameterType="string" resultType="co.sf.order.vo.OrderDetailVO">
        SELECT o.order_code AS orderCode,
               o.recipient AS recipient,
               p.price, 
               od.product_cnt as productCnt,
               SUM(od.product_cnt * p.price) AS totalPrice, 
               o.order_status AS orderStatus,
               p.product_name AS productName,
               p.thum_image AS thumImage,
               o.use_point AS point
        FROM order_f5 o
        JOIN order_detail_f5 od ON o.order_code = od.order_code
        JOIN product_f5 p ON od.product_code = p.product_code
        WHERE o.order_code = #{orderCode}
        GROUP BY o.order_code, o.recipient, o.order_status, p.product_name, p.thum_image, o.use_point, od.product_cnt, p.price
    </select>
    
    <!-- 주문 시 선택된 카트물품 삭제 -->
    <delete id="removeSelectedCartItems" parameterType="map">
        DELETE FROM cart_f5
        WHERE product_code IN (SELECT product_code FROM order_detail_f5 WHERE order_code = #{orderCode})
        AND id = #{id}
    </delete>
    
    <!-- 주문 상태 업데이트 -->
    <update id="updateOrderStatus" parameterType="map">
        UPDATE order_f5
        SET order_status = #{status}
        WHERE order_code = #{orderCode}
    </update>

</mapper>
