<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.sf.order.mapper.OrderMapper">

	<select id=""></select>

	<insert id="addAddress" parameterType="co.sf.order.vo.OrderVO">
		INSERT INTO
		order_f5(order_code, id, recipient, phone,
		address, delivery_message, email)
		
		VALUES ( #{orderCode}, #{id}, #{recipient}, #{phone},
		#{address},	#{deliveryMessage}, #{email})
	</insert>

</mapper>
